.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.submit-btn {
  margin-left: auto;
}

// mat-card-title {
//   background-color: #3f51b5;
// }

// .search-field {
//   background-color: #fff;
// }
