<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>flight</mat-icon>
  </button>
  <span>Airlines</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-slide-toggle
    ><mat-icon class="mat-18"
      ><span class="dark_mode">dark_mode</span></mat-icon
    ></mat-slide-toggle
  >
</mat-toolbar>
<div class="container p-5">
  <router-outlet></router-outlet>
</div>
