.passenger-field {
  display: inline-block;
}
.counter {
  top: 45px;
  left: -10px;
  min-width: 300px;
  z-index: 9;
}
.counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter-input {
  min-width: 300px;
}
.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: smaller;
  cursor: pointer;
}
